<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="none">
  <title>{{sanitize title}} - Corvée</title>
  {{#if description}}
  <meta name="description" content="{{ description }}">{{/if}}
  {{!-- <link rel="preload" href="/fonts/roboto-mono-v22-latin-500.woff2" as="font" type="font/woff2" crossorigin> --}}
  {{!-- <link rel="preload" href="/fonts/roboto-mono-v22-latin-500italic.woff2" as="font" type="font/woff2" crossorigin> --}}
  {{!-- <link rel="preload" href="/fonts/roboto-mono-v22-latin-italic.woff2" as="font" type="font/woff2" crossorigin> --}}
  {{!-- <link rel="preload" href="{{ baseUrl }}fonts/roboto-v30-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ baseUrl }}fonts/roboto-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin> --}}
  <link rel="preload" href="{{ baseUrl }}fonts/roboto-flex-v9-latin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ baseUrl }}fonts/roboto-mono-v22-latin-regular.woff2" as="font" type="font/woff2" crossorigin>{{#each preloads}}
  <link rel="preload" href="{{ href }}" as="{{ as }}" type="{{  type }}" crossorigin>{{/each}}
  <link rel="stylesheet" href="{{ baseUrl }}{{ version }}/app/css/app.css">
  {{!-- <link rel="preload" href="/fonts/roboto-v30-latin-500.woff2" as="font" type="font/woff2" crossorigin> --}}
  {{!-- <link rel="preload" href="/fonts/roboto-v30-latin-500italic.woff2" as="font" type="font/woff2" crossorigin> --}}
  <script src="{{ baseUrl }}{{ version }}/app/{{ @exphbs.view }}.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>