<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="none">
  <title>{{sanitize title}} - Corvée</title>
  {{#if description}}
  <meta name="description" content="{{ description }}">{{/if}}
  <link rel="preload" href="{{ baseUrl }}fonts/roboto-flex-v9-latin.woff2" as="font" type="font/woff2" crossorigin>{{#each preloads}}
  <link rel="preload" href="{{ href }}" as="{{ as }}" type="{{  type }}" crossorigin>{{/each}}
  <link rel="stylesheet" href="{{ baseUrl }}{{ version }}/app/css/app.css">
  <script src="{{ baseUrl }}{{ version }}/app/{{ @exphbs.view }}.js"></script>
</head>

{{{body}}}

</html>