<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{sanitize title}} - Corvée</title>
  {{!-- <link rel="preload" href="/fonts/roboto-mono-v22-latin-500.woff2" as="font" type="font/woff2" crossorigin> --}}
  {{!-- <link rel="preload" href="/fonts/roboto-mono-v22-latin-500italic.woff2" as="font" type="font/woff2" crossorigin> --}}
  <link rel="preload" href="/fonts/roboto-mono-v22-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/roboto-mono-v22-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  {{!-- <link rel="preload" href="/fonts/roboto-v30-latin-500.woff2" as="font" type="font/woff2" crossorigin> --}}
  {{!-- <link rel="preload" href="/fonts/roboto-v30-latin-500italic.woff2" as="font" type="font/woff2" crossorigin> --}}
  <link rel="preload" href="/fonts/roboto-v30-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/roboto-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/{{ version }}/app/css/app.css">
  <script src="/{{ version }}/app/{{ @exphbs.view }}.js"></script>
</head>

<body>
  {{{read 'src/app/assets/sprite.svg'}}}
  {{{body}}}
</body>

</html>